.v21_85 {
  width:2749px;
  height:126px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 556px;
  left: 125%;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}

.content-form .v21_95 {
  width: 874px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 643px;
  left: 120%;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}

.v21_87 {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 802px;
  left: 125%;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.a {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 882px;
  left: 125%;
  opacity: 1;
  text-align: center;
}

.b {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 962px;
  left: 125%;
  opacity: 1;
  text-align: center;
}

.c {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1042px;
  left: 125%;
  opacity: 1;
  text-align: center;
}

.d {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1122px;
  left: 125%;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}

.e {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1202px;
  left: 125%;
  opacity: 1;
  text-align: center;
}
.f {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1282px;
  left: 125%;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.g {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1362px;
  left: 125%;
  opacity: 1;
  text-align: center;
}
.h {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 72px;
  top: 1442px;
  left: 125%;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.i {
 width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 68px;
  top: 1522px;
  left: 175%;
  opacity: 1;
  text-align: left;
}
.j {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 68px;
  top: 1602px;
  left: 175%;
  font-weight: Bold;
  opacity: 1;
  text-align:left;
}
.k {
  width:2795px;
	height:703px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-size: 68px;
  top: 1682px;
  left: 175%;
  opacity: 1;
  text-align: left;
}